Home page
<debug-data [copyClick]="'a toto sa skopirovalo'">
    <div>debug - toto sa kopiruje</div>
</debug-data>

<ng-scrollbar>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>fawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
    <div>faewfawefaewfawefa</div>
</ng-scrollbar>