.total-cases
{
    .item-color
    {
        stroke: #ffab00;
    }

    .item-color
    {
        &.dot, &.legend
        {
            fill: #ffab00;

            &:hover
            {
                fill-opacity: 0.8;
            }
        }
    }
}

.daily-cases
{
    .item-color
    {
        fill: #999999;
    }
}

.line
{
    fill: none;
    stroke-width: 3;
}

.bar:hover
{
    fill-opacity: 0.8;
}

.y.axis
{
    line
    {
        stroke-opacity: 0.25;
    }
}