<div *ngIf="authenticated" class="flex-row-end">
    <div class="flex-1">GUI: {{guiVersion}} {{serverName}}: {{serverVersion}}</div>
    <a routerLink="/" routerLinkActive="active" class="margin-right-extra-small">Home</a>
    <a routerLink="/lazy" routerLinkActive="active" class="margin-right-extra-small">Lazy</a>
    <a (click)="logout()">Logout</a>
    <a (click)="openSettings()" class="fas fa-cog"></a>
</div>

<progress-indicator></progress-indicator>
<internal-server-error></internal-server-error>
<global-notifications></global-notifications>
<hotkeys-cheatsheet></hotkeys-cheatsheet>

<div class="content relative" [@routeAnimations]="routeComponentState">
    <div class="main-content">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
</div>

<console *ngIf="consoleVisible" @consoleAnimation></console>