@use 'sass:meta';

@use 'misc' as misc;
@use 'mixins';
@use 'vars';

@use 'parts/alerts' as alerts;
@use 'parts/blocks' as blocks;
@use 'parts/buttons' as buttons;
@use 'parts/common.components' as commonComponents;
@use 'parts/grid' as grid;
@use 'parts/titles' as titles;

@use '@anglr/datetime/styles' as datetime;

//---------------------- PAGE STYLING ----------------------
.app-page
{
    font-family: "Inter";
    font-size: 12px;
    user-select: none;
    background-color: var(--page-background);
    color: var(--page-foreground);

    //############## SCROLLBAR ##############

    @include mixins.thin-scrollbar-color('--page-scrollbar');

    //############## PARTS ##############

    @include alerts.css;
    @include blocks.css;
    @include buttons.css;
    @include commonComponents.css;
    @include grid.css;
    @include titles.css;

    //############## PACKAGES ##############

    @include datetime.buildThemeCss;
    @include meta.load-css('../../node_modules/@anglr/common/styles/light');

    //############## MISC SHARED ##############

    @include misc.css();

    //############## MISC ##############

    hr
    {
        margin-bottom: vars.$sizeXs;
        margin-top: vars.$sizeXs;
        border: none;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: var(--separator-foreground);
    }

    .text-selection
    {
        user-select: text;
    }

    .line-height-default
    {
        line-height: 1em;
    }
    
    .border-round
    {
        border-radius: vars.$borderRadius;
    }

    .top-border-round
    {
        border-top-left-radius: vars.$borderRadius;
        border-top-right-radius: vars.$borderRadius;
    }

    .bottom-border-round
    {
        border-bottom-left-radius: vars.$borderRadius;
        border-bottom-right-radius: vars.$borderRadius;
    }

    .left-border-round
    {
        border-top-left-radius: vars.$borderRadius;
        border-bottom-left-radius: vars.$borderRadius;
    }

    .right-border-round
    {
        border-top-right-radius: vars.$borderRadius;
        border-bottom-right-radius: vars.$borderRadius;
    }

    .top-left-border-round
    {
        border-top-left-radius: vars.$borderRadius;
    }

    .bottom-left-border-round
    {
        border-bottom-left-radius: vars.$borderRadius;
    }

    .top-right-border-round
    {
        border-top-right-radius: vars.$borderRadius;
    }

    .bottom-right-border-round
    {
        border-bottom-right-radius: vars.$borderRadius;
    }

    .extra-small-text
    {
        font-size: 0.8rem;
    }
    
    .small-text
    {
        font-size: 0.9rem;
    }

    .normal-text
    {
        font-size: 1rem;
    }

    .medium-text
    {
        font-size: 1.1rem;
    }

    .large-text
    {
        font-size: 1.2rem;
    }

    .extra-large-text
    {
        font-size: 1.5rem;
    }

    .extra-extra-large-text
    {
        font-size: 1.8rem;
    }

    //############## TEXTS ##############

    .text-danger,
    .text-error
    {
        color: var(--text-danger);
    }

    .text-warning
    {
        color: var(--text-warning);
    }

    .text-success
    {
        color: var(--text-success);
    }

    .text-info
    {
        color: var(--text-info);
    }

    @include mixins.generate-margin-padding(padding, vars.$sizes);
    @include mixins.generate-margin-padding(margin, vars.$sizes);
}