//---------------------- SIZING ----------------------
$sizeXs: 4px;
$sizeSm: 10px;
$sizeMd: 15px;
$sizeLg: 20px;
$sizeBg: $sizeLg;

$negXsWidth: -4px;
$negSmWidth: -10px;
$negMdWidth: -15px;
$negLgWidth: -20px;

$responsiveTrasholdMd: 800px;

$borderRadius: 4px;

$sizes: (none: 0, extra-small: $sizeXs, small: $sizeSm, medium: $sizeMd, big: $sizeLg);