<div class="layout-designer">
    <header class="flex-row align-items-center">
        <button type="button" class="btn btn-primary margin-right-small" (click)="save()">
            Save
        </button>
        <button type="button" class="btn btn-primary margin-right-small" [class.active]="isMode(designerModes.LAYOUT)" (click)="setMode(designerModes.LAYOUT)">
            Layout
        </button>
        <button type="button" class="btn btn-primary margin-right-small" [class.active]="isMode(designerModes.NODE)" (click)="setMode(designerModes.NODE)">
            Node
        </button>
        <button type="button" class="btn btn-primary margin-right-small" [class.active]="isMode(designerModes.CODE)" (click)="setMode(designerModes.CODE)" *ngIf="isMode(designerModes.CODE)">
            Code
        </button>

        <span>Name: {{id}}</span>
    </header>
    
    <layout-designer [style.display]="isMode(designerModes.LAYOUT) ? 'contents': 'none'" [packageNames]="designerPackageNames" [rootComponentMetadata]="designerState?.metadata?.layout"></layout-designer>
    <node-designer-mode [style.display]="isMode(designerModes.NODE) ? 'contents': 'none'" [relationsMetadata]="designerState?.metadata?.relations || []" [metadata]="designerState?.designerMetadata?.nodeDesignerMetadata || []"></node-designer-mode>
    <div code-editor [style.display]="isMode(designerModes.CODE) ? 'block': 'none'"></div>

    <aside class="right">
        <properties></properties>
    </aside>
</div>