<div>
    <h3>{{subs}}</h3>

    <div>
        <button (click)="inc()">click</button>
        <button (click)="toggle()">toggle</button>
        <button (click)="longCall()">long call</button>
        <button (click)="continue()">continue</button>
    </div>

    <div style="overflow: hidden;" @slideInOut *ngIf="trigger == 'in'">
        <div class="alert alert-warning">
            This is warning
        </div>
    </div>

    <div [@test]="trigger">
        <span>{{counter}}</span>
        <div *ngIf="trigger == 'in'">
            <span>XXXXXXXXXXXXXX</span>
        </div>

        <div *ngIf="trigger == 'out'">
            <div>YYYYYYYYYYYYYY</div>
        </div>

        <div *ngIf="show">
            <div>ZZZZZZZZZZZZ</div>
        </div>
    </div>

    <ng-template #strongNode let-nodeData><strong>{{nodeData?.content}}</strong></ng-template>

    {{trigger}}

    <input type="checkbox" bootstrap-switch data-size="mini" checked data-label-text="test" onCssClass="success" offCssClass="danger">
</div>

<div>
    <hello-world></hello-world>

</div>