<!-- <date-time-selector #minDateTime style="align-self: baseline;" [formControl]="control"></date-time-selector> -->
<date-time-selector #minDateTime style="align-self: baseline;" [formControl]="control" [maxValue]="maxDateTime" minValue="-2m" validate></date-time-selector>
<date-time-selector #maxDateTime style="align-self: baseline;" [minValue]="minDateTime" maxValue="2020-12-24"></date-time-selector>
<div>tu je dalsi obsah {{control?.valid}}</div>
<div>tu je dalsi obsah {{control?.errors | json}}</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>
<div>tu je dalsi obsah</div>