@mixin paging-coloring($name)
{
    li
    {
        a
        {
            background-color: var(--paging-onPrimary-#{$name}background);
            color: var(--paging-onPrimary-#{$name}foreground);
        }

        &.disabled a
        {
            background-color: var(--paging-onPrimary-disabled-#{$name}background);
            color: var(--paging-onPrimary-disabled-#{$name}foreground);
        }

        &.active a
        {
            background-color: var(--paging-onSecondary-#{$name}background);
            color: var(--paging-onSecondary-#{$name}foreground);
        }
    }
}

@mixin paging-full-coloring($name)
{
    ng-basic-paging
    {
        &>div
        {
            &>ul
            {
                @include paging-coloring($name);
            }
    
            &>div
            {
                ul
                {
                    @include paging-coloring($name);
                }
            }
        }
    }
}