@use 'sass:color';
@use 'sass:map';

//############## AVAILABLE COLORS ##############



//############## DEFAULT THEME ##############

$_defaultTheme:
(
);

@function defineTheme($theme: (), $customization: ())
{
    $theme: map.deep-merge($_defaultTheme, $theme);
    $theme: map.deep-merge($theme, $customization);

    @return $theme;
}
