@use './themeColors' as themeColors;

@use '@anglr/common/styles' as anglrCommon;
@use '@anglr/datetime/styles' as datetime;
@use '@anglr/grid/styles' as grid;

$theme: () !default;
$themeName: null !default;
$dateTimeTheme: null !default;
$anglrCommonTheme: null !default;
$gridTheme: null !default;

//---------------------- PAGE STYLING ----------------------
.app-page.#{$themeName}
{
    //############## THEME ##############

    @include themeColors.buildThemeColors($theme);

    //############## PACKAGES ##############

    @include anglrCommon.buildThemeColorsTooltip($anglrCommonTheme);
    @include anglrCommon.buildThemeColorsMultiButton($anglrCommonTheme);
    @include datetime.buildThemeColors($dateTimeTheme);
    @include grid.buildThemeColors($gridTheme);
}