@import 'theme-vars.scss';
@import 'light-theme-vars.scss';

//---------------------- PAGE STYLING ----------------------
.app-page.light
{
    background-color: $primaryBackgroundColor;
    color: $primaryForegroundColor;

    //############## SCROLLBAR ##############

    .thin-scrollbar
    {
        scrollbar-color: $primaryScrollbarColor $primaryScrollbarBackground;
    }

    .thin-scrollbar::-webkit-scrollbar-thumb
    {
        background-color: $primaryScrollbarColor;
    }

    .thin-scrollbar::-webkit-scrollbar
    {
        background-color: $primaryScrollbarBackground;
    }

    //############## BLOCKS ##############

    .popup-block
    {
        box-shadow: 0 0 3px $popupBorder;
        background-color: $popupBackground;
    }

    //############## BUTTONS ##############

    .btn-line
    {
        background-color: $btnLineBackground;
        color: $btnLineForeground;

        &:hover
        {
            background-color: darken($btnLineBackground, 9%);
        }

        &:active, &.active
        {
            background-color: darken($btnLineBackground, 15%);
        }

        &>span[class^="fa"],
        &>span[class^="fas"],
        &>span[class^="glyphicon"]
        {
            color: lighten($btnLineForeground, 12%);
            margin-right: $sizeXs;
        }
    }

    @include generate-button($buttons);

    
    //############## NG SELECT ##############

    ng-select
    {
        button.btn-select
        {
            background-color: $primarySelectBackgroundColor;

            &.btn:hover, &.btn:focus
            {
                color: $primarySelectForegroundColor;
            }
        }

        .popup-div
        {
            background-color: $primarySelectPopupBackgroundColor;
            color: $primarySelectPopupForegroundColor;

            .option-item:hover, .option-item.selected, .option-item.active
            {
                background-color: darken($primarySelectBackgroundColor, 10%);
                background-image: linear-gradient(to bottom, darken($primarySelectBackgroundColor, 10%) 0,darken($primarySelectBackgroundColor, 15%) 100%);
                color: $primarySelectForegroundColor;
            }
        }

        input.form-control
        {
            background-color: $primarySelectInputBackgroundColor;
            color: $primarySelectInputForegroundColor;
        }
    }
}