// ---------------------- DARK THEME ----------------------
$darkBackgroundColor: #323944;
$semiDarkBackgroundColor: #3C4453;
$ligntBackgroundColor: #E5E5E5;
$lighterBackgroundColor: #F4F7FB;
$whiteBackgroundColor: #FFFFFF;
$requiredInputBackgroundColor: #FFF8CC;
$invalidInputBackgroundColor: #FFE4E4;

$invalidErrorColor: #a94442;

$blackText: #111111;
$semiDarkText: #737373;
$semiLightText: #e0e0e0;
$lightText: #FFFFFF;
$greenText: #6ABA4F;
$redText: #EC0E0E;
$blueText: #2caed6;
$orangeText: #FFB73B;
$brownText: #AA6431;

$buttonLightColor: #6ABA4F;
$buttonDarkColor: #50903B;
$buttonDarkerColor: #5FA747;

$buttonInfoLightColor: #5bc0de;
$buttonInfoDarkColor: darken($buttonInfoLightColor, 20%);
$buttonInfoDarkerColor: darken($buttonInfoLightColor, 12%);

$buttonDefaultLightColor: #9d9d9d;
$buttonDefaultDarkColor: darken($buttonInfoLightColor, 20%);
$buttonDefaultDarkerColor: darken($buttonInfoLightColor, 12%);

$buttonInvalidLightColor: #EC0E0E;
$buttonInvalidDarkColor: #B90000;
$buttonInvalidDarkerColor: #D30000;

$buttonWarningLightColor: #f0ad4e;
$buttonWarningDarkColor: darken($buttonWarningLightColor, 12%);
$buttonWarningDarkerColor: darken($buttonWarningLightColor, 20%);

$greenTag: #B8E0B1;
$redTag: #F4B8B8;
$blueTag: #8DD8EC;
$orangeTag: #FFC96B;

$comboBoxColor: #DADADA;