@import '../../theme-vars.scss';
@import '../../light-theme-vars.scss';

//---------------------- COMPONENT STYLING ----------------------
.app-page.light
{
    //############## TITLED DIALOG ##############

    titled-dialog
    {
        box-shadow: 0 0 3px $dialogBorder;

        .titled-dialog-title
        {
            color: $dialogTitleForeground;
            background-color: lighten($dialogTitleBackground, 3%);

            .close-dialog
            {
                &:hover
                {
                    background-color: darken($dialogTitleBackground, 10%);
                    color: darken($dialogTitleForeground, 10%);
                }
            }
        }

        .titled-dialog-content
        {
            background-color: $dialogContentBackground;
            color: $dialogContentForeground;
        }
    }
}