:host
{
    display: block;
    padding: 8px;
    color: #F8F8F8;
}

.section
{
    &:not(:first-of-type)
    {
        margin-top: 2em;
    }

    .uppercase
    {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .component-item
    {
        margin: .5em 0;
        padding: .5em;
        cursor: grab;
    }
}
