@use '../../mixins';
@use '../mixins/grid.mixins' as grid;

//############## BLOCKS ##############

.primary-block
{
    @include mixins.thin-scrollbar-color('--primary-scrollbar');

    background-color: var(--primary-background);
    color: var(--primary-foreground);
}

.secondary-block
{
    @include mixins.thin-scrollbar-color('--secondary-scrollbar');

    background-color: var(--secondary-background);
    color: var(--secondary-foreground);
}

.highlight-block
{
    @include mixins.thin-scrollbar-color('--block-scrollbar');

    background-color: var(--block-background);
    color: var(--block-foreground);

    ng-grid
    {
        div.css-grid-content-renderer
        {
            .content-renderer-header > div
            {
                border-color: var(--hightlight-grid-header-background);
            }

            .fixed-header
            {
                background-color: var(--hightlight-grid-header-background);
                color: var(--hightlight-grid-header-foreground);
            }

            .content-renderer-body > div:nth-of-type(2n+1) > div
            {
                background-color: var(--hightlight-grid-evenRow-background);
            }
        }

        @include grid.paging-full-coloring('highlight-');
    }
}