@use '../../vars';

//############## MAIN MENU - GLOBAL ##############

.submenu-item
{
    background-color: var(--mainMenu-background);
}

//############## MAIN MENU ##############

main-menu
{
    background-color: var(--mainMenu-background);
    background-image: linear-gradient(to top, var(--mainMenu-background) 0, var(--mainMenu-backgroundGradient) 100%);
    color: var(--mainMenu-foreground);

    .main-item
    {
        &:hover
        {
            backdrop-filter: brightness(94%);
        }
        
        &:active
        {
            background-color: var(--mainMenu-active-background);
            color: var(--mainMenu-active-foreground);
            box-shadow: 0 0 4px var(--mainMenu-active-background);
        }

        &.active
        {
            // color: color.mix($menuBackground, map.get($theme, mainMenuForegroundActive), $weight: 20%);
            color: var(--mainMenu-active-foreground);
        }

        div
        {
            background-image: linear-gradient(to bottom, var(--mainMenu-background) 0, var(--mainMenu-backgroundGradient) 100%);

            @media screen and (max-width: vars.$responsiveTrasholdMd)
            {
                background-image: none;
            }

            .submenu-item
            {
                padding: 5px 10px;
                color: var(--mainMenu-foreground);

                &:hover
                {
                    background-color: var(--mainMenu-backgroundGradient);
                }

                &.active
                {
                    // color: color.mix($menuBackground, map.get($theme, mainMenuForegroundActive), $weight: 20%);
                    color: var(--mainMenu-active-foreground);
                }
            }
        }
    }
}

//############## COLLAPSIBLE ICON ##############

@mixin collapsible-icon($foreground, $foregroundHover)
{
    .vertical,
    .horizontal
    {
        border-color: var($foreground);
        background-color: var($foreground);
    }

    a.btn-icon:hover
    {
        .vertical,
        .horizontal
        {
            border-color: var($foregroundHover);
            background-color: var($foregroundHover);
        }
    }
}

collapsible-icon
{
    @include collapsible-icon('--button-icon-foreground', '--button-icon-hover-foreground');
}

.secondary-block
{
    collapsible-icon
    {
        @include collapsible-icon('--button-icon-foreground', '--button-icon-hover-foreground');
    }
}

//############## DOUBLE RIGHT ICON ##############

.double-right-icon
{
    .left-angle,
    .right-angle
    {
        div
        {
            border-color: var(--button-icon-foreground);
        }
    }
}

//############## VAHA ##############

vaha-tag
{
    div
    {
        color: var(--weight-foreground);

        &.weight-0
        {
            background-color: var(--weight-weight-0);
        }
        
        &.weight-1
        {
            background-color: var(--weight-weight-1);
        }

        &.weight-2
        {
            background-color: var(--weight-weight-2);
        }

        &.weight-3
        {
            background-color: var(--weight-weight-3);
        }

        &.weight-4
        {
            background-color: var(--weight-weight-4);
        }

        &.weight-5
        {
            background-color: var(--weight-weight-5);
        }
    }
}