//############## FORM CONTROL ##############

%form-control
{
    color: var(--input-foreground);
    border-color: var(--input-border);
    background-color: var(--input-background);
}

%form-control-disabled
{
    &:disabled
    {
        background-color: transparent;
        border-color: transparent;

        .selected-caret
        {
            color: transparent;
        }
    }
}

.form-control-static
{
    color: var(--input-foreground);
}

.form-control:not(ng-select)
{
    @extend %form-control, %form-control-disabled;
}

ng-select.form-control
{
    .covid-normal-state
    {
        @extend %form-control, %form-control-disabled;
    }

    .covid-select-tag
    {
        background-color: var(--select-tag-background);
        color: var(--select-tag-foreground);
    }
}

//############## INPUT GROUP ##############

.input-group
{
    .input-group-addon
    {
        color: var(--input-foreground);
        background-color: var(--input-error-background);
        border-color: var(--input-border);
    }
}

//############## FORM ERRORS ##############

.has-error
{
    %control-error
    {
        border-color: var(--input-invalid-border);

        &:active,
        &:focus
        {
            outline-color: var(--input-error-outline);
        }
    }

    .control-label
    {
        color: var(--label-invalid-foreground);
    }

    .form-control:not(ng-select)
    {
        @extend %control-error;
    }

    ng-select.form-control
    {
        .covid-normal-state
        {
            @extend %control-error;
        }
    }
}

.validation-error-div
{
    &>div
    {
        color: var(--label-invalid-background);
    }
}
