@use '../mixins/grid.mixins' as grid;

//############## GRID ##############

ng-grid
{
    div.css-grid-content-renderer
    {
        .fixed-header
        {
            background-color: var(--grid-oddRow-background);
        }

        .content-renderer-body > div:nth-of-type(2n+1) > div
        {
            background-color: var(--grid-evenRow-background);
        }

        .content-renderer-header > div
        {
            border-color: var(--grid-oddRow-background);
        }
    }

    table
    {
        .fixed-header
        {
            background-color: var(--grid-oddRow-background);
        }

        & > thead > tr > th
        {
            border-color: var(--grid-oddRow-background);
        }

        & > tbody > tr:nth-of-type(2n+1)
        {
            background-color: var(--grid-evenRow-background);
        }
    }

    @include grid.paging-full-coloring('');
}