//############## TITLED DIALOG ##############

titled-dialog,
movable-titled-dialog
{
    box-shadow: 0 0 3px var(--dialog-border);

    .titled-dialog-title
    {
        color: var(--dialog-title-foreground);
        background-color: var(--dialog-title-background);

        .close-dialog
        {
            &:hover
            {
                background-color: var(--dialog-closeButton-hover-background);
                color: var(--dialog-closeButton-hover-foreground);
            }
        }
    }

    .titled-dialog-content
    {
        background-color: var(--dialog-content-background);
        color: var(--dialog-content-foreground);
    }
}